body
{

background-color: #99ccff;

}

.container

{

	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	

}

.logo

{

	width: 100%;
	padding: 8px 0;
	min-height:250px;
	background-color: #006699;
	text-align: center;

}

.menu

{

	width: 100%;
	padding: 8px 0;
	min-height:50px;
	background-color: #3399ff;
	text-align: center;

}

.mapa
{

	width: 100%;
	padding: 8px 0;
	min-height:200px;
	background-color: red;
	text-align: center;


}



.baner

{

	width: 100%;
	padding: 8px 0;
	min-height:200px;
	background-color: #00cccc;
	text-align: center;

}

.naglowek
{

  
	width:100%;
	background-color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	
	

}


.nag1

{

	
	min-height:200px;
	text-align:center;
	background-color: yellow;
	color: blue;
	margin: 0 auto;
	width: 33%;
	float:left;

}

.nag2

{


	min-height:200px;
	text-align:center;
	background-color: #00cc99;
	color: blue;
	width: 33%;
	margin: 0 auto;
	float:left;
	

}


.nag3

{


	min-height:200px;
	text-align:center;
	background-color: black;
	color: white;
	width: 34%;
	margin: 0 auto;
	float:left;
	

}


.galeria
{


background-color: grey;
text-align: center;
width: 100%;
}

.galeriain
{

margin: auto;
	max-width: 900px;
	text-align: center;
}






.container2
{

	width:100%;
	background-color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-align:center;

}


.zdjecie
{

	min-height:200px;
	text-align:center;
	background-color: purple;
	color: blue;
	margin: 0 auto;
	width: 30%;
	float:left;

}

.opis
{

	min-height:200px;
	text-align:center;
	background-color: orange;
	color: blue;
	margin: 0 auto;
	width: 70%;
	float:left;
}

.stopka
{

width:100%;
background-color: green;
text-align: center;
clear: both;


}


